<div class="user-panel-page">
  <h1>{{ 'Edycja Panelu Uzytkownika' | translate }}</h1>

  <form [formGroup]="userForm" (ngSubmit)="onUpdate()">
    <app-input
      [formControl]="controls.userName"
      [placeholder]="'AUTH.USERNAME' | translate"
      type="text"
      autocomplete="username"
      [errorMessage]="getErrorMessage(controls.userName)"
      [invalid]="controls.userName.invalid && controls.userName.touched"
    ></app-input>

    <app-input
      [formControl]="controls.firstName"
      [placeholder]="'AUTH.FIRST_NAME' | translate"
      type="text"
      autocomplete="given-name"
      [errorMessage]="getErrorMessage(controls.firstName)"
      [invalid]="controls.firstName.invalid && controls.firstName.touched"
    ></app-input>

    <app-input
      [formControl]="controls.lastName"
      [placeholder]="'AUTH.LAST_NAME' | translate"
      type="text"
      autocomplete="family-name"
      [errorMessage]="getErrorMessage(controls.lastName)"
      [invalid]="controls.lastName.invalid && controls.lastName.touched"
    ></app-input>

    <app-input
      [formControl]="controls.email"
      [placeholder]="'AUTH.EMAIL' | translate"
      type="email"
      autocomplete="email"
      [errorMessage]="getErrorMessage(controls.email)"
      [invalid]="controls.email.invalid && controls.email.touched"
    ></app-input>

    <h2>{{ 'Zmiana hasła:' | translate }}</h2>

    <div class="submit-button">
      <app-button
        type="submit"
        [disabled]="userForm.invalid || isLoading"
        severity="primary"
        [label]="'Zapisz zmiany' | translate"
      ></app-button>
    </div>
  </form>
</div>