<div class="user-panel-page">
  <h1>{{ 'Edycja Panelu Uzytkownika' | translate }}</h1>

  <form [formGroup]="userForm" (ngSubmit)="onUpdate()">
    <app-input
      [formControl]="controls.username"
      [placeholder]="'AUTH.USERNAME' | translate"
      type="text"
      autocomplete="username"
      [errorMessage]="getErrorMessage(controls.username)"
      [invalid]="controls.username.invalid && controls.username.touched"
    ></app-input>

    <app-input
      [formControl]="controls.firstName"
      [placeholder]="'AUTH.FIRST_NAME' | translate"
      type="text"
      autocomplete="given-name"
      [errorMessage]="getErrorMessage(controls.firstName)"
      [invalid]="controls.firstName.invalid && controls.firstName.touched"
    ></app-input>

    <app-input
      [formControl]="controls.lastName"
      [placeholder]="'AUTH.LAST_NAME' | translate"
      type="text"
      autocomplete="family-name"
      [errorMessage]="getErrorMessage(controls.lastName)"
      [invalid]="controls.lastName.invalid && controls.lastName.touched"
    ></app-input>

    <app-input
      [formControl]="controls.email"
      [placeholder]="'AUTH.EMAIL' | translate"
      type="email"
      autocomplete="email"
      [errorMessage]="getErrorMessage(controls.email)"
      [invalid]="controls.email.invalid && controls.email.touched"
    ></app-input>

    <h2>{{ 'Zmiana hasła:' | translate }}</h2>

    <app-password-input
      [formControl]="controls.currentPassword"
      [placeholder]="'USER_PANEL.CURRENT_PASSWORD' | translate"
      autocomplete="current-password"
      [errorMessage]="getErrorMessage(controls.currentPassword)"
      [invalid]="controls.currentPassword.invalid && controls.currentPassword.touched"
    ></app-password-input>

    <app-password-input
      [formControl]="controls.newPassword"
      [placeholder]="'USER_PANEL.NEW_PASSWORD' | translate"
      autocomplete="new-password"
      [errorMessage]="getErrorMessage(controls.newPassword)"
      [invalid]="controls.newPassword.invalid && controls.newPassword.touched"
      [feedback]="true"
    ></app-password-input>

    <div class="submit-button">
      <app-button
        type="submit"
        [disabled]="userForm.invalid || isLoading"
        severity="primary"
        [label]="'Zapisz zmiany' | translate"
      ></app-button>
    </div>
  </form>
</div>