<footer [class]="['footer', theme, customClass]">
  <div class="container">
    <div class="branding">
      <img *ngIf="logo" [src]="logo" alt="Logo" class="logo-img" />
      <span class="title" *ngIf="title">{{ title }}</span>
    </div>

    <div class="links" *ngIf="links && links.length">
      <ng-container *ngFor="let link of links">
        <a *ngIf="link.routerLink" [routerLink]="link.routerLink" [queryParams]="link.queryParams" [state]="link.state">
          <i *ngIf="link.icon" class="{{ link.icon }}"></i> {{ link.label }}
        </a>
        <a *ngIf="link.url" [href]="link.url" [target]="link.target">
          <i *ngIf="link.icon" class="{{ link.icon }}"></i> {{ link.label }}
        </a>
      </ng-container>
    </div>
    <div class="social-links" *ngIf="socialLinks && socialLinks.length">
      <ng-container *ngFor="let social of socialLinks">
        <a *ngIf="social.url" [href]="social.url" [target]="social.target">
          <i *ngIf="social.icon" class="{{ social.icon }}"></i> {{ social.label }}
        </a>
      </ng-container>
    </div>

    <div class="copyright">
      &copy; {{ currentYear }} {{ title || 'Twoja Firma' }}. Wszelkie prawa zastrzeżone.
    </div>
  </div>
</footer>
